.card {
  background-color: white;
  color: var(--secondary-color);
  padding: 12px;
  font-size: 14px;
  /* border: 1px solid #474748; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  overflow: visible;
  word-wrap: break-word;
  min-width: 312px;
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .card {
    min-width: unset;
    max-width: 94%;
  }
}
